
:root{
    --darkblack: #060606;
    --black: #212121;
    --darkgray: #525252;
    --blue: #0a6aba;
    --blue2: #208dfb;
    --redorange: #FC5D54;
}
body{
    margin: 0;
}
.Main{
    margin: 0;
}

/* navigation Here */

@media screen and (max-width: 1500px){
    
    .navlink a {
        font-size: 18px !important;
    }
}


@media screen and (max-width: 800px){
    
    .TextLogo p{
        margin-top: 15% !important;
}
    .TextLogo{
        font-size: 20px !important;
    } 
    .navlink{
        width: 100px !important;
    }
    .navlink a {
        font-size: 14px !important;
    }
}
header{
    background-color: var(--darkblack);
    width: 100%;
    height: 3.5vw;
    position: fixed;
    min-height: 48px;
    z-index: 1
}

.navlink{
    float: right;
    width: 150px;
}
.navlink a{
    font-size: 1vw;
    text-decoration: none;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navlink a:hover{
    color: var(--redorange);
}

.TextLogo{
    float: left;
    color: var(--redorange);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100%;
    margin-left: 5%;
    font-size: 30px;
}

.TextLogo p{
    margin-top: 5%;
}



/* Content Here*/
.ContentCon{
    float: left;
    flex-direction: column;
    width: 100%;
    background-color: var(--black);

}
.Content{
    float:left;
    width: 100%;
}


/* Box1 */

@media screen and (max-width: 1500px) {
    
    .PortfolioBut center {
        font-size: 13px;
    }    
    .Box1{
        padding-top: 50px !important;

    }
   
}


@media screen and (max-width: 600px) {
    
    .Box1{
        padding-top: 50px !important;

    }
   
    .PortfolioBut center {
        width: 70px !important;
        height: 10px;
        font-size: 10px;
    }    
    
    .PortfolioBut {
    }
}
.Box1{
    padding-top: 80px;
    display: flex;
    height: 52.5vw; 
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, 
                                    rgba(28,28,28,1) 0%, 
                                    rgba(0,0,0,1) 61%);
}
.ProfilePic{
    flex: 2;
}
.ProfilePic img{
    width: 35vw;
    height: 48vw;
    margin-left: 50% !important;
    opacity: 90%;
}

.GreetingBox{
    flex: 2;
    top: 38%;
    margin-left: 20%;
}
.GreetContent{
    height: 100%;
    padding-top: 30%;
}
greet{
    font-size: 4vw;  
}
greet, name, profession{
    color:white;   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

profession{
    color: gray;
    display: block;
    font-size: 3vw;   
}
profession strong{
    color: var(--redorange);
    font-size: 4vw;   
}
name{
    display: block;
    letter-spacing: 5px;
    font-size: 6vw;  
}

.PortfolioBut {
    min-width: 100px;
    height: 10%;
    min-height: 30px;
    max-height: 60px;
    float: left;
    margin-top:4%;
    margin-left: 0.5vw;
    font-size: 1vw;
}

.PortfolioBut center{
    padding: 0.7vw;
    background-color: var(--redorange);
    color: white;
    letter-spacing: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.PortfolioBut a{
    text-decoration: none;
}
.PortfolioBut center:hover{
    background-color: gray;
}

.PortfolioBut center{
    
}